<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <section>
        <div class="container px-5 py-24 mx-auto">
            <div class="w-3/5 mx-auto">
                <div class="text-center mb-10">
                    <h1 class="text-4xl font-medium title pb-3">Pricing</h1>
                    <p class="text-gray-600 text-lg">Banh mi cornhole echo park skateboard authentic crucifix neutra tilde lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee</p>
                </div>
                <div>
                    <table class="w-full">
                        <tr class="bg-gray-100 rounded-lg ">
                            <th class="p-3 text-center">Plan</th>
                            <th class="p-3 text-center">Speed</th>
                            <th class="p-3 text-center">Storage</th>
                            <th class="p-3 text-center">Price</th>
                            <th></th>
                        </tr>
                        <tr class="border-b-2 border-gray-200">
                            <td class="p-3 text-center">Start</td>
                            <td class="p-3 text-center">5 Mb/s</td>
                            <td class="p-3 text-center">15 GB</td>
                            <td class="p-3 text-center">Free</td>
                            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
                                <input name="plan" type="radio">
                            </td>
                        </tr>
                        <tr class="border-b-2 border-gray-200">
                            <td class="p-3 text-center">Pro</td>
                            <td class="p-3 text-center">5 Mb/s</td>
                            <td class="p-3 text-center">15 GB</td>
                            <td class="p-3 text-center">Free</td>
                            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
                                <input name="plan" type="radio">
                            </td>

                        </tr>
                        <tr class="border-b-2 border-gray-200">
                            <td class="p-3 text-center">Business</td>
                            <td class="p-3 text-center">5 Mb/s</td>
                            <td class="p-3 text-center">15 GB</td>
                            <td class="p-3 text-center">Free</td>
                            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
                                <input name="plan" type="radio">
                            </td>

                        </tr>
                        <tr class="border-b-2 border-gray-200">
                            <td class="p-3 text-center">Exclusive</td>
                            <td class="p-3 text-center">5 Mb/s</td>
                            <td class="p-3 text-center">15 GB</td>
                            <td class="p-3 text-center">Free</td>
                            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
                                <input name="plan" type="radio">
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="flex items-center justify-between mt-5" >
                    <div class="flex items-center">
                        <a class=" text-base text-indigo-500 ">Learn More</a>
                        <div class="w-4 h-4 text-indigo-500 pl-1 ">
                            <svg  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                              </svg>
                        </div>
                    </div>
                    <div class="">
                        <button class="border border-indigo-500 bg-indigo-500 rounded-lg px-7 py-2 text-white">Button</button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
</body>
</html>