<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <section>
        <div class="container px-5 py-24 mx-auto">
            <div>
                <div class="text-center pb-5">
                    <h1 class="font-medium title-font text-3xl pb-2">Pricing</h1>
                    <p class="text-gray-500 pb-4">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical.</p>
                    <div class="flex justify-center pt-5">
                        <div class="border-2 border-indigo-500 rounded">
                            <button class=" text-lg px-4 py-1 bg-indigo-600 text-white">Monthly</button>
                            <button class=" text-lg  px-4 py-1 ">Annually</button>
                        </div>
                    </div>
                </div>
                
                <div class="w-full flex ">
                        <div class="w-1/4 border-2 rounded-lg py-5 border-gray-300 m-2 ">
                                <div class="mx-5">
                                        <div class="border-b-2 border-gray-200">
                                        <h3 class="text-gray-800">START</h3>
                                        <h1 class="text-5xl pb-5">Free</h1>
                                        </div>
                                    
                                    <div class="flex items-center pt-2">
                                        <div class=" border-2 rounded-full border-gray-400 bg-gray-400 text-white w-4 h-4 ">
                                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                                <path d="M20 6L9 17l-5-5"></path>
                                            </svg>
                                            
                                        </div>
                                        <p class="pl-3 text-lg text-gray-500">Tumeric plaid portland</p>
                                    </div>
                                    <div class="flex items-center pt-2">
                                        <div class=" border-2 rounded-full border-gray-400 bg-gray-400 text-white w-4 h-4 ">
                                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                                <path d="M20 6L9 17l-5-5"></path>
                                            </svg>
                                            
                                        </div>
                                        <p class="pl-3 text-lg text-gray-500">Mixtape chillwave tumeric</p>
                                    </div>
                                        <div class="border-2 bg-gray-400 rounded-lg mt-20 flex items-center justify-between px-4 hover:bg-gray-600">
                                            <button class="px-3 py-1.5 text-white text-lg  ">Button</button>
                                            <div class="text-white w-4 h-4 ">
                                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                                    </svg>
                                                </div>
                                        </div>
                                    <p class="text-gray-500 text-sm pt-3">Literally you probably haven't heard of them jean shorts.</p>
                                </div>
                         </div>
                     
                         <div class="p-4 w-1/4 ">
                            <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col ">
                                <div class="border-b-2 border-gray-200">
                                    <h3 class="text-gray-800">START</h3>
                                    <h1 class="text-5xl pb-5">Free</h1>
                                </div>
                                <div class="flex items-center pt-2">
                                    <div class=" border-2 rounded-full border-gray-400 bg-gray-400 text-white w-4 h-4 ">
                                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                            <path d="M20 6L9 17l-5-5"></path>
                                        </svg>
                                        
                                    </div>
                                    <p class="pl-3 text-lg text-gray-500">Tumeric plaid portland</p>
                                </div>
                                <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">Button
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </button>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>

                                

                            </div>
                        </div>
                        <div class="p-4 w-1/4 ">
                            <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col ">
                                <div class="border-b-2 border-gray-200">
                                    <h3 class="text-gray-800">START</h3>
                                    <h1 class="text-5xl pb-5">Free</h1>
                                </div>
                                <div class="flex items-center pt-2">
                                    <div class=" border-2 rounded-full border-gray-400 bg-gray-400 text-white w-4 h-4 ">
                                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                            <path d="M20 6L9 17l-5-5"></path>
                                        </svg>
                                        
                                    </div>
                                    <p class="pl-3 text-lg text-gray-500">Tumeric plaid portland</p>
                                </div>
                                <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">Button
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </button>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>

                                

                            </div>
                        </div>
                        <div class="p-4 w-1/4 ">
                            <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col ">
                                <div class="border-b-2 border-gray-200">
                                    <h3 class="text-gray-800">START</h3>
                                    <h1 class="text-5xl pb-5">Free</h1>
                                </div>
                                <div class="flex items-center pt-2">
                                    <div class=" border-2 rounded-full border-gray-400 bg-gray-400 text-white w-4 h-4 ">
                                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                            <path d="M20 6L9 17l-5-5"></path>
                                        </svg>
                                        
                                    </div>
                                    <p class="pl-3 text-lg text-gray-500">Tumeric plaid portland</p>
                                </div>
                                <button class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">Button
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </button>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>

                                

                            </div>
                        </div>
                            
                    
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>